/*
* Header Styles
*/
html,
body {
    margin:0;
    padding:0;
    height:100%;
    background:url(/img/scuffed.png);
    background-repeat:no-repeat;
}

/*
* General Styles
*/
hr {
    border-color:#85cd00;
}
.center-text {
    text-align:center;
}

