html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	background-color: @background-body;
}
@media screen and (min-width: 1400px) {
	iframe {
		width: 80%;
		margin-right: auto;
		margin-left: auto;
	}

	#mainWrapper {
		float: right;
		width: 100% - @sideNav-width;
		min-height: 100%;
		position: relative;

		#header {
			padding: 10px;
		}

		#content {
			padding-top: @content-padding-top;
			padding-bottom: @footer-height+40px;
		}

		#footer {
			width: 100%;
			height: @footer-height;
			position: absolute;
			bottom: 0;
			left:0;
			font-size: @font-size-smaller;

			i {
				font-size: @icon-font-size;
			}

			#siteseal {
				display:block;
				margin-bottom: 15px;
			}
		}
	}

	ul.footer-icons {

		li {
			margin-right: 20px;
		}
	}
}
@media screen and (min-width: 768px) and (max-width: 1399px) {
	iframe {
		width: 85%;
		margin-right: auto;
		margin-left: auto;
	}

	#mainWrapper {
		float: right;
		width: 100% - @sideNav-width-med;
		min-height: 100%;
		position: relative;

		#header {
			padding: 10px;
		}

		#content {
			padding-top: @content-padding-top;
			padding-bottom: @footer-height+40px;
		}

		#footer {
			width: 100%;
			height: @footer-height;
			position: absolute;
			bottom: 0;
			left:0;
			font-size: @font-size-smaller;

			i {
				font-size: @icon-font-size;
			}

			#siteseal {
				display:block;
				margin-bottom: 15px;
			}
		}
	}

	ul.footer-icons {

		li {
			margin-right: 15px;
		}
	}
}
@media screen and (max-width: 767px) {
	iframe {
		width: 90%;
		margin-right: auto;
		margin-left: auto;
	}

	#mainWrapper {
		width: 100%;
		min-height: 100%;
		position: relative;

		#header {
			padding: 60px;
		}

		#content {
			padding-top: @content-padding-top;
			padding-bottom: @footer-height+40px;
		}

		#footer {
			width: 100%;
			height: @footer-height;
			position: absolute;
			bottom: 0;
			left:0;
			font-size: @font-size-smaller;

			i {
				font-size: @icon-font-size;
			}

			#siteseal {
				display:block;
				margin-bottom: 15px;
			}
		}
	}

	ul.footer-icons {

		li {
			margin-right: 15px;
		}
	}
}


ul.footer-icons {
	i.fi-social-facebook {
		color: #3b5998;
		.transition(color .2s linear);
	}
	i.fi-social-facebook:hover {
		color: #bbb;
		.transition(color .2s linear);
	}
	i.fi-social-github {
		color: #000;
		.transition(color .2s linear);
	}
	i.fi-social-github:hover {
		color: #bbb;
		.transition(color .2s linear);
	}
	i.fi-social-linkedin {
		color: #007bb6;
		.transition(color .2s linear);
	}
	i.fi-social-linkedin:hover {
		color: #bbb;
		.transition(color .2s linear);
	}
	i.fi-social-twitter {
		color: #00aced;
		.transition(color .2s linear);
	}
	i.fi-social-twitter:hover {
		color: #bbb;
		.transition(color .2s linear);
	}
	i.fi-social-google-plus {
		color: #dd4b39;
		.transition(color .2s linear);
	}
	i.fi-social-google-plus:hover {
		color: #bbb;
		.transition(color .2s linear);
	}
	i.fi-social-google-plus {
		color: #dd4b39;
		.transition(color .2s linear);
	}
	i.fi-social-google-plus:hover {
		color: #bbb;
		.transition(color .2s linear);
	}
	i.fi-mail {
		color: #85c500;
		.transition(color .2s linear);
	}
	i.fi-mail:hover {
		color: #bbb;
		.transition(color .2s linear);
	}
}

div.units-row {
	padding-top: 15px;
}

hr[class|=hr-bar] {
	height: 2px;
	margin: 0;
	padding-bottom: 0px;

	&.hr-bar-blue {
		background-color: @color-blue;
	}

	&.hr-bar-red {
		background-color: @color-red;
	}

	&.hr-bar-green {
		background-color: @color-green;
	}

	&.hr-bar-light-green {
		background-color: @color-green-light;
	}

	&.hr-bar-orange {
		background-color: @color-western-orange;
	}
}