html, body {
	height: 100%;
	width: 100%;
	position: relative;
	background-color: #fff;
}
html {
	position: fixed;
}

#mainWrapper {
	float: right;
	width: 100% - @sideNav-width;
	min-height: 100%;
	position: relative;

	#header {
		a {
			
		}
	}

	#content {
		padding-bottom: @footer-height;
		height: 100%;
	}

	#footer {
		width: 100%;
		height: @footer-height;
		position: absolute;
		bottom: 0;
		font-size: @font-size-smaller;

		i {
			font-size: @icon-font-size;
		}

		#siteseal {
			display:block;
			margin-bottom: 15px;
		}
	}
}

ul.footer-icons {

	li {
		margin-right: 15px;
	}

	i.fi-social-facebook {
		color: #3b5998;
		.transition(color .2s linear);
	}
	i.fi-social-facebook:hover {
		color: #bbb;
		.transition(color .2s linear);
	}
	i.fi-social-github {
		color: #000;
		.transition(color .2s linear);
	}
	i.fi-social-github:hover {
		color: #bbb;
		.transition(color .2s linear);
	}
	i.fi-social-linkedin {
		color: #007bb6;
		.transition(color .2s linear);
	}
	i.fi-social-linkedin:hover {
		color: #bbb;
		.transition(color .2s linear);
	}
	i.fi-social-twitter {
		color: #00aced;
		.transition(color .2s linear);
	}
	i.fi-social-twitter:hover {
		color: #bbb;
		.transition(color .2s linear);
	}
	i.fi-social-google-plus {
		color: #dd4b39;
		.transition(color .2s linear);
	}
	i.fi-social-google-plus:hover {
		color: #bbb;
		.transition(color .2s linear);
	}
	i.fi-social-google-plus {
		color: #dd4b39;
		.transition(color .2s linear);
	}
	i.fi-social-google-plus:hover {
		color: #bbb;
		.transition(color .2s linear);
	}
	i.fi-mail {
		color: #85c500;
		.transition(color .2s linear);
	}
	i.fi-mail:hover {
		color: #bbb;
		.transition(color .2s linear);
	}
}

div.units-row {
	padding-top: 15px;
}

hr {
	height: 2px;
	margin: 0;
	padding-bottom: 0px;

	&.hr-bar-blue {
		background-color: @color-blue;
	}

	&.hr-bar-red {
		background-color: @color-red;
	}

	&.hr-bar-green {
		background-color: @color-green;
	}

	&.hr-bar-light-green {
		background-color: @color-green-light;
	}

	&.hr-bar-orange {
		background-color: @color-western-orange;
	}
}