Options +FollowSymlinks
RewriteEngine on
RewriteRule ^(.*)(h|H)ackathon$ /Hack [nc]
RewriteRule ^(.*)(h|H)ack$ /Hack [nc]
RewriteRule ^(.*)[rR]esume$ /Resume [nc]
RewriteRule ^(.*)[rR]esources$ /Resources [nc]
RewriteRule ^(.*)\.html$ $1.php [nc]
RewriteRule ^(/?|Home)$  /Home [nc]
RewriteRule ^/(.*)$ /$1/index.php [nc]

<IfModule mod_headers.c>
Header set Access-Control-Allow-Origin "*"
</IfModule>
