Options +FollowSymlinks
RewriteEngine on
RewriteRule ^(.*)[cC]lassfinder$ /Classfinder/index.php [nc]
RewriteRule ^(.*)[hH]ack$ /Hackathon/index.php [nc]
RewriteRule ^(.*)[rR]esume$ /Resume/index.php [nc]
RewriteRule ^(.*)[rR]esources$ /Resources/index.php [nc]
RewriteRule ^(.*)\.html$ $1.php [nc]
RewriteRule ^(/?|Home)$  /Home/index.php [nc]

<IfModule mod_headers.c>
Header set Access-Control-Allow-Origin "*"
</IfModule>
