html,
body {
    margin:0;
    padding:0;
    height:100%;
    color:#fff;
    background:transparent;
}
html {
  background: url(/img/smoke1.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
h1 { font-size:2.4em; }
h2 { font-size:2em; }
h3 { font-size:1.8em; }
h4 { font-size:1.6em; }
h5 { font-size:1.4em; }
h6 { font-size:.8em; }

#mainWrapper {
    float:right;
    width:90%;
    min-height:100%;
    position:relative;
}
#header {
    font-family:HeroLight;
}
#content {
    padding-top:15px;
    padding-bottom:120px;;   /* Height of the footer element */
    height:100%;
}
#footer {
    width:100%;
    height:120px;
    position:absolute;
    bottom:0;
    font-size:11pt;
}

/* SIDE NAV */
body .SideNav {
    float:left;
    width:10%;
    min-height:100%;
    position:fixed;
    font-family:HeroLight;
    font-size:1.5em;
    padding-top:45px;
}
.SideNav li a {
    display:block;
    text-decoration:none;
    padding:10px;
    color:#fff;
}
.SideNav li {
    -webkit-transition: background-color .3s linear;
    background-color:transparent;
    color:#efefef;
}

.SideNav li:hover {
    -webkit-transition: background-color .3s linear;
    background-color:#0083d6;
    color:#efefef;
}

.SideNav li + li {
    border-top:solid 1px #494949;
}

/* GENERAL */
.center-text {
    text-align:center;
}

.dark-bg {
    background-image:url(/img/dark-ts.png);
}
